@import colors

select.home-select-white
    background: $white-main
    border: none
    font-size: 1em
    color: $blue-medium
    cursor: pointer

.form-container
    .input-lg 
        font-size: 1.9em
        padding: .2em .5em !important
    .input-md
        font-size: 1.3em
    input[type="text"], input[type="password"]
        padding: 5px 10px
    .form-control
        width: 100%
        small 
            color: $white-transparent
    .input-outline-white 
        &:focus
            outline: none
        &::placeholder
            color: $white-transparent
            font-weight: 100
        cursor: text
        border-radius: 1em
        background: transparent 
        border: .1em solid $white-main
        color: $white-main
        text-align: center
    .input-home-search 
        width: calc(100% - 1em) !important

.icon-home-search 
    position: absolute
    font-size: 2em !important
    margin-left: 10px
    margin-top: 10px

.btn
    transition: all .5s ease
    cursor: pointer
    padding: .5em .8em
    border-radius: .5em
    text-decoration: none
    &.btn-white 
        background: transparent 
        color: $white-main
        border: 1px solid $white-main
    &.btn-outline-white 
        background: transparent 
        color: $gray-main
        border: 1px solid $gray-main
        &:hover 
            background: $gray-soft