@import colors

.modal
    position: fixed 
    transition: all 1s ease
    top: 0
    left: 0
    height: 100vh
    width: 100vw
    background: $blue-transparent
    z-index: 1
    color: $white-main
    .modal-title
        display: flex 
        align-items: center 
        justify-content: center 
        padding: 2em 0
        text-transform: capitalize
        text-align: center
        h1, h2
            font-weight: 300
    .modal-content 
        p 
            line-height: 1.5
            margin-bottom: .5em