@import colors

nav 
    padding: 1em 0
    background: $blue-medium
    .logo
        text-align: center
        padding-bottom: 0
        img 
            width: 100%
            max-width: 150px

nav.bigsearch 
    text-align: center
    color: $white-main