// global style 
@import colors

html, body 
    padding: 0
    margin: 0
    font-family: roboto, sans-serif
    font-weight: 300
    color: $gray-main
.container 
    width: 990px
    margin: 0 auto
.container-md 
    width: 550px
    margin: 0 auto
.subtitle 
   .title 
        font-size: 2.5em
        font-weight: 300
        margin-bottom: 0 

@import helpers
@import ../css/gridlex
@import navigations
@import cards
@import form
@import result
@import modal
@import responsive
