extends layouts/home
block title
    title Birokrasi Mudah - Serius Kok

block content
    .m-lg
    include components/molecules/deck-result
    .grid 
        .col-12.align-center
            a.fa.fa-angle-down.home-btn-more(href="javascript:;" title="Tampilkan berikutnya")