div(style="text-align:center")
    h1 This is index
    a(href="home.html") homepage
    br
    a(href="result.html") result: sample KUA
    br
    a(href="modal.html") sample modal
    br
    a(href="input-otp.html") input otp