extends layouts/default
block title
    title Perpanjang Surat Tanda Kendaraan Bermotor (STNK) - Birokrasi Mudah, Serius Kok

block content
    .container 
        .grid 
            .col-12
                include components/atoms/card-subtitle
                +card-subtitle('Cara Perpanjang Surat Tanda Kendaraan Bermotor(STNK) di Kota Bekasi', 'Sedang mengambil data...') 