doctype html
html(lang='en')
    head
        block title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href="css/style.css" rel="stylesheet")
        link(href="libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet")
        link(rel="manifest" href="manifest.json")
        link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet")
    body
        include ../components/molecules/header

        #wrapper.wrapper
            block content



        include ../components/molecules/footer
        
        #modal.modal
            .container 
                .grid
                    .col-12
                        .modal-title 
                            h1 this is title of modal
                            button.btn-modal-close.btn.btn-white.fa.fa-close(onclick="modal.close()" href="javascript:;" title="Tampilkan berikutnya" type="button" style="margin-left:1.5em")
                        .modal-content 
        
        script(src="js/app.min.js")