nav.main.bigsearch 
    .container 
        .grid-center 
            .col-3.logo 
                a(href="home.html" title="Logo Birokrasi Mudah")
                    img(src="images/whitelogo.png")

        h1 Birokrasi Mudah 
        p 
            | Saya berasal dari Kabupaten/Kota 
            br 
            | Dan ingin mengurus :