nav.main.bigsearch 
    .grid 
        .col-3.logo 
            a(href="home.html" title="Logo Birokrasi Mudah")
                img(src="images/whitelogo.png")
    .container 

        .m-lg
        .grid-center
            .col-8_md-12_sm-12
                h2(style="font-weight:300") 
                    | Saya berada dari Kabupaten/Kota 
                    select.home-select-white
                        option Bekasi
                    br 
                    | dan ingin 
                    strong mengurus...
                form.form-container
                    .form-control(style="position:relative")
                        i.fa.fa-search.icon-home-search 
                        input#big-search-input.input-lg.input-home-search(type="text" placeholder="Apa yang ingin anda urus ?")
                        small 
                            | contoh: membuat surat nikah, perpanjang STNK, dll

                        //- big search reccomendation    
                        - 
                            let recomendation_result = [
                                {
                                    title: 'Cara perpanjang STNK',
                                    logo: 'images/logos/polda-metro-jaya.png',
                                    logo_title: 'polda metro jaya',
                                    stats_lokasi: 'di Polda metro jaya',
                                    stats_count: 'dicari 3400x - oleh 234 pengguna'
                                },
                                {
                                    title: 'Membuat surat nikah',
                                    logo: 'images/logos/kua.png',
                                    logo_title: 'KUA',
                                    stats_lokasi: 'di KUA daerah 1',
                                    stats_count: 'dicari 3400x - oleh 234 pengguna'
                                },
                                {
                                    title: 'Membuat surat izin usaha',
                                    logo: 'images/logos/bp2t.png',
                                    logo_title: 'KUA',
                                    stats_lokasi: 'di KUA daerah 1',
                                    stats_count: 'dicari 3400x - oleh 234 pengguna'
                                }
                            ]

                        #bigsearch-recomendation.deck-result
                            .deck-result-content.bg-white(style="padding:0")
                                .grid
                                    include ../atoms/card-result
                                    each n in recomendation_result
                                        +card-result-view-small(n, big)
                        //- end of big search reccomendation

        .m-lg

//- help
.container
    .grid-center 
        .col-8_col-md-12_col-sm-12.home-help
            a(href="javascript:;" onclick="modal.show('Cara Menggunakan', 'modal-howtouse')") Cara Menggunakan
            a(href="javascript:;" onclick="modal.show('Sumber Data', 'modal-howtouse')") Sumber Data
            a(href="javascript:;" onclick="modal.show('Kontak Kami', 'modal-howtouse')") Kontak Kami


//- modal start
#modal-howtouse.hide
    article
        p 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum neque maximus lorem tempor sodales. Vestibulum a convallis nisi. Sed fringilla ante elit, quis rhoncus nibh congue non. Donec mollis lorem interdum dolor feugiat lacinia. Nullam eleifend tempor scelerisque. Ut aliquet erat vitae libero sodales, in egestas eros molestie. Praesent tristique nisi nec leo placerat tincidunt. Sed posuere augue in efficitur dapibus. Proin et purus sit amet nulla tincidunt lobortis eget in quam. Praesent tempor tempor pretium. Sed ornare sit amet augue sit amet convallis. Nulla tincidunt mi nulla, in scelerisque sem hendrerit non. Donec eget velit pretium dolor hendrerit malesuada tincidunt a metus. Morbi varius tellus lectus, in feugiat magna rutrum vel. Aliquam ultrices leo vitae ante maximus venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        p 
            | Donec felis dui, dignissim quis ornare ac, ultricies nec dolor. In sollicitudin risus nec ligula sagittis aliquam. Integer tempus molestie elit, aliquam posuere ipsum. Ut nec tristique enim, in consequat tellus. Quisque convallis volutpat elit sed ultrices. Donec ut facilisis dolor. Nulla fringilla est sem, non varius odio cursus et.     

#modal-source.hide
    article
        p 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum neque maximus lorem tempor sodales. Vestibulum a convallis nisi. Sed fringilla ante elit, quis rhoncus nibh congue non. Donec mollis lorem interdum dolor feugiat lacinia. Nullam eleifend tempor scelerisque. Ut aliquet erat vitae libero sodales, in egestas eros molestie. Praesent tristique nisi nec leo placerat tincidunt. Sed posuere augue in efficitur dapibus. Proin et purus sit amet nulla tincidunt lobortis eget in quam. Praesent tempor tempor pretium. Sed ornare sit amet augue sit amet convallis. Nulla tincidunt mi nulla, in scelerisque sem hendrerit non. Donec eget velit pretium dolor hendrerit malesuada tincidunt a metus. Morbi varius tellus lectus, in feugiat magna rutrum vel. Aliquam ultrices leo vitae ante maximus venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        p 
            | Donec felis dui, dignissim quis ornare ac, ultricies nec dolor. In sollicitudin risus nec ligula sagittis aliquam. Integer tempus molestie elit, aliquam posuere ipsum. Ut nec tristique enim, in consequat tellus. Quisque convallis volutpat elit sed ultrices. Donec ut facilisis dolor. Nulla fringilla est sem, non varius odio cursus et. 
#modal-contact.hide 
    article
        p 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum neque maximus lorem tempor sodales. Vestibulum a convallis nisi. Sed fringilla ante elit, quis rhoncus nibh congue non. Donec mollis lorem interdum dolor feugiat lacinia. Nullam eleifend tempor scelerisque. Ut aliquet erat vitae libero sodales, in egestas eros molestie. Praesent tristique nisi nec leo placerat tincidunt. Sed posuere augue in efficitur dapibus. Proin et purus sit amet nulla tincidunt lobortis eget in quam. Praesent tempor tempor pretium. Sed ornare sit amet augue sit amet convallis. Nulla tincidunt mi nulla, in scelerisque sem hendrerit non. Donec eget velit pretium dolor hendrerit malesuada tincidunt a metus. Morbi varius tellus lectus, in feugiat magna rutrum vel. Aliquam ultrices leo vitae ante maximus venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        p 
            | Donec felis dui, dignissim quis ornare ac, ultricies nec dolor. In sollicitudin risus nec ligula sagittis aliquam. Integer tempus molestie elit, aliquam posuere ipsum. Ut nec tristique enim, in consequat tellus. Quisque convallis volutpat elit sed ultrices. Donec ut facilisis dolor. Nulla fringilla est sem, non varius odio cursus et. 


script. 
    const SearchEl = document.getElementById('big-search-input');
    let time

    const sample_data = [
        {
            logo: 'images/logos/polda-metro-jaya.png',
            text: 'Cara perpanjang STNK'
        },
        {
            logo: 'images/logos/kua.png',
            text: 'Membuat surat nikah'
        },
        {
            logo: 'images/logos/bp2t.png',
            text: 'Membuat surat ijin usaha'
        }
    ]

    //- event listener
    SearchEl.addEventListener('keyup', (e) => {
        if(e.target.value)
        {
            recomendation.show(sample_data)
        }else 
        {
            recomendation.close()
        }
    })

    SearchEl.addEventListener('blur', () => {
        //- recomendation.close()
    })