.container 
    footer.grid-center.align-center
        .col-4_md-6_sm-12
            p 
                strong BirokrasiMudah 
                br
                | Membantu pengguna untuk mengurus birokrasi, mulai dari tahap awal hingga tahap akhir, secara detail dan interaktif.
                br
                | Dibuat oleh Yusuf A.H. dan Harry A.M.